
<a class="btn btn-primary" <%= link_to("<<Back to Complaints view", {:action => 'index'}, :class => 'back-link') %></a> 


<div class="complaints new">
  <h2>Update Complaint</h2>

  <%= form_for(:complaint, :url => {:action => 'update', :id => @complaint.id}) do |f| %>
    <div class="form-group">
        <% f.label :name %>
        <%= f.text_field(:name, :class => 'form-control floating-label') %>
    </div>
    <div class="form-group">
        <% f.label :gender %>
        <%= f.text_field(:gender, :class => 'form-control floating-label') %>
    </div>
    <div class="form-group">
        <% f.label :age %>
        <%= f.text_field(:age, :class => 'form-control floating-label') %>
    </div>
    <div class="form-group">
        <% f.label 'Where Did the Incident Happen ?' %>
        <%= f.text_field(:incident_location, :class => 'form-control floating-label') %>
    </div>
    <div class="form-group">
        <% f.label 'Phone Number' %>
        <%= f.text_field(:phone, :class => 'form-control floating-label') %>
    </div>
    <div class="form-group">
        <% f.label 'Email Address' %>
        <%= f.text_field(:email, :class => 'form-control floating-label') %>
    </div>
    <div class="form-group">
        <% f.label 'Who are You Complaining Against ?' %>
        <%= f.text_field(:duty_bearer, :class => 'form-control floating-label') %>
    </div>
    <div class="form-group">
        <% f.label 'Explain What Happened ?' %>
        <%= f.text_area(:feedback, :class => 'form-control floating-label') %>
    </div>

    <div class="form-buttons">
        <%= submit_tag("Update Complaint", :class => 'btn btn-lg btn-success btn-raised') %>
    </div>

  <% end %>
</div>

