<div class="container">
  <h2 align="center">Submit Complaint</h2>

  <%= form_for(:complaint, :url => {:action => 'create'}, :class => 'form-horizontal') do |f| %>
    <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field(:name, :class => 'form-control floating-label', :required => 'true') %>
    </div>
    <div class="form-group">
        <%= f.label :gender %><br />
        <%= f.text_field(:gender, :class => 'form-control floating-label', :required => 'true') %>
    </div>
    <div class="form-group">
        <%= f.label :age %><br />
        <%= f.text_field(:age, :class => 'form-control floating-label', :required => 'true') %>
    </div>
    <div class="form-group">
        <%= f.label 'Where Did the Incident Happen ?' %><br />
        <%= f.text_field(:incident_location, :class => 'form-control floating-label', :required => 'true') %>
    </div>
    <div class="form-group">
        <%= f.label 'Phone Number' %><br />
        <%= f.text_field(:phone, :class => 'form-control floating-label', :required => 'true') %>
    </div>
    <div class="form-group">
        <%= f.label 'Email Address' %><br />
        <%= f.text_field(:email, :class => 'form-control floating-label', :required => 'true') %>
    </div>
    <div class="form-group">
        <%= f.label 'Who Are You Complaining Against ?' %><br />
        <%= f.text_field(:duty_bearer, :class => 'form-control floating-label', :required => 'true') %>
    </div>
    <div class="form-group">
        <%= f.label :feedback %><br />
        <%= f.text_area(:feedback, :class => 'form-control floating-label', :required => 'true') %>
    </div>

    <div class="actions" align="center">
        <a class="btn btn-info btn-lg btn-raised" <%= link_to("<< Back Home", {:controller => 'pages', :action => 'index'}, :class => 'back-link') %></a>
        <%= f.submit "Submit Complaint", :class => 'btn btn-primary btn-lg btn-raised' %>
    </div>

  <% end %>
    
</div>

<!--
<%# if !flash[:notice].blank? %>
  <div class="notice">
    <%#= flash[:notice] %>
  </div>
<%# end %>
</br>
-->






