<div align="center">
    <div style="width: 300px" align="left">
        <div style="margin-top: 3em;">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 align="center" class="panel-title">Forgot your password?</h2>
                </div>
                <div class="panel-body">

                    <div align="center" style="margin-bottom: 1em;">
                        <div style="width:150px; height:150px; ">
    <!--                        <span class="mdi-action-perm-identity"></span>-->
                            <%= (image_tag "password.png", :class => "img-responsive img-rounded" ) %>
                        </div>
                    </div>

                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                      <%= devise_error_messages! %>

                      <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, :class => 'form-control floating-label' %>
                      </div>

                      <div class="actions" align="center">
                          <%= f.submit "reset password", :class => 'btn btn-lg btn-success' %>
                      </div>
                    <% end %>

                </div>
            </div>
        </div>
    </div>

    <%#= render "devise/shared/links" %>

</div>
