
<div class="container" style="margin-top: 1em;">
    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <%= (image_tag "900x350.png", :class => "img-responsive img-rounded") %>
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Nairuby, Bi-Weekly Project Thursday</h1>
            <p>This is an application that can be used to monitor and update users on incidents of corruption within institutions and organizations in Country</p>
            
            <a class="btn btn-primary btn-lg" <%= link_to("Report A Case", {:controller => 'complaints', :action => 'new'}, :class => 'action new') %></a>

        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <hr>
    
    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <p>Twitter Handle <%= link_to '@Nairuby', 'https://twitter.com/NairubyKE?lang=en' %></p>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    
    <% @complaints.each do |complaint| %>
    
        <div class="list-group" style="margin-top: 2em;">
            <div class="list-group-item">
                <div class="row-action-primary">
    <!--                <i class="mdi-action-face-unlock"></i>-->
                    <%#= (image_tag 'http://lorempixel.com/56/56/people/1', :class => 'circle') %>
                </div>
                <div class="row-content">
                    <div class="least-content"></div>
                    <h4 class="list-group-item-heading"><%= complaint.incident_location %></h4>
                    <p class="list-group-item-text"><%= complaint.feedback %></p>
                </div>
            </div>
            <div class="list-group-separator"></div>
        </div>
    <% end %>
</div>
    
    <div align="center">
        <ul class="pagination pagination-lg">
            <li class="disabled"><a href="javascript:void(0)"><span class="mdi-navigation-chevron-left"></span></a></li>
            <li><a href="javascript:void(0)"><span class="mdi-navigation-chevron-right"></a></li>
        </ul>
    </div>
</div>
