<div align="center">
    <div style="width:300px" align="left">
    <!--    <h2 align="center">Log in</h2>-->
        <div style="margin-top: 3em;">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 align="center" class="panel-title"><%= 'Log In' %></h2>
                </div>
                <div class="panel-body">

                    <div align="center" style="margin-bottom: 1em;">
                        <div style="width:150px; height:150px; ">
    <!--                        <span class="mdi-action-perm-identity"></span>-->
                            <%= (image_tag "man.png", :class => "img-responsive img-rounded" ) %>
                        </div>
                    </div>

                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => 'form-horizontal') do |f| %>
                      <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, :class => 'form-control floating-label' %>
                      </div>

                      <div class="form-group">
                        <%= f.label :password %><br />
                        <%= f.password_field :password, autocomplete: "off", :class => 'form-control floating-label' %>
                      </div>

                      <% if devise_mapping.rememberable? -%>
                        <div class="form-group">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end -%>

                      <div class="actions" align="center">
                        <%= f.submit "Log in", :class => 'btn btn-primary btn-lg btn-raised' %>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div align="center">
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </div>
        <%#= render "devise/shared/links" %>

    </div>
</div>


